/* Wedit generated resource file */
#ifdef __LCC__
#include <windows.h>
#endif
#include "zinwell.h"
#include "zinwellres.h"

IDI_FIRST ICON "firmware_redone_4bpp.ico"
IDI_SECOND ICON "button-redone4bpp.ico"

IDI_ROOT ICON "icon_root.ico"
IDI_CODE ICON "icon_code.ico"
IDI_KERN ICON "icon_kern.ico"
IDI_BOXI ICON "icon_boxi.ico"
IDI_VERI ICON "icon_veri.ico"
IDI_LOAD ICON "icon_load.ico"
IDI_NVRM ICON "icon_nvrm.ico"
IDI_MACA ICON "icon_maca.ico"

IDI_UNKNOWNBLOCK ICON "icon_unknown.ico"

BMP_TOOLBAREXPORT BITMAP "export.bmp"
BMP_TOOLBARIMPORT BITMAP "import.bmp"


IDMAINMENU MENU
BEGIN
    POPUP "&File"
        BEGIN
        MENUITEM "&New", IDM_NEW
        MENUITEM "&Open...\tCtrl+O", IDM_OPEN
		MENUITEM "&Close", IDM_CLOSE
		MENUITEM SEPARATOR
		MENUITEM "&Save", IDM_SAVE, MF_GRAYED
		MENUITEM "Save &As...", IDM_SAVEAS
		MENUITEM "Re&vert", IDM_REVERT
		MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
        END
	POPUP "&Edit"
		BEGIN
		MENUITEM "Cu&t\tCtrl+X", IDM_EDITCUT
		MENUITEM "&Copy\tCtrl+C", IDM_EDITCOPY
		MENUITEM "&Paste\tCtrl+V", IDM_EDITPASTE
		MENUITEM SEPARATOR
		MENUITEM "&Mark/unmark for exclusion\tDel", IDM_EDITCLEAR
		MENUITEM "&Delete block\tShift+Del", IDM_EDITDELETE
		MENUITEM SEPARATOR
		MENUITEM "Move block &up\tCtrl+Alt+Up", IDM_MOVEUP
		MENUITEM "Move block &down\tCtrl+Alt+Down", IDM_MOVEDOWN
		MENUITEM SEPARATOR
		MENUITEM "Select &All\tCtrl+A", IDM_SELECTALL
		END
    POPUP "&Block"
		BEGIN
		MENUITEM "Customer &number...",IDM_CUSTOMERNUMBER
		MENUITEM "&Calculate file size",IDM_BLOCKFIXCHECKSUMS
		MENUITEM SEPARATOR
		MENUITEM "&Import block...",IDM_BLOCKIMPORT
		MENUITEM "&Export block...",IDM_BLOCKEXPORT
		MENUITEM SEPARATOR
		MENUITEM "Create &VERI block...", IDM_BLOCKCREATEVERIBLOCK
		MENUITEM "Create BO&XI block...", IDM_BLOCKCREATEBOXIBLOCK
		MENUITEM "Create &MACA block...", IDM_BLOCKCREATEMACABLOCK,MF_GRAYED
		END
	POPUP "&Tools"
		BEGIN
		MENUITEM "Batch change customer number...", IDM_TOOLSBATCHCUSTOMERNUMBER, MF_GRAYED
		MENUITEM "Create SquashFS file...",IDM_TOOLSCREATESFS, MF_GRAYED
		END
	POPUP "&Help"
        BEGIN
        MENUITEM "&About ZimView", IDM_ABOUT
        END
END

IDACCEL ACCELERATORS
BEGIN
	VK_O, IDM_OPEN, VIRTKEY, CONTROL

	VK_UP, IDM_MOVEUP, VIRTKEY, CONTROL, ALT
	VK_DOWN, IDM_MOVEDOWN, VIRTKEY, CONTROL, ALT

	VK_C, IDM_EDITCOPY, VIRTKEY, CONTROL
	VK_X, IDM_EDITCUT, VIRTKEY, CONTROL
	VK_V, IDM_EDITPASTE, VIRTKEY, CONTROL
	VK_DELETE, IDM_EDITCLEAR, VIRTKEY
	VK_DELETE, IDM_EDITDELETE, VIRTKEY, SHIFT
	VK_A, IDM_SELECTALL, VIRTKEY, CONTROL

	VK_F1, IDM_ABOUT, VIRTKEY
END

IDD_ABOUT DIALOG 50, 20, 200, 89
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "About ZimView"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 143, 68, 50, 14
    LTEXT           "ZimView (v0.03 beta)", IDC_STATIC, 50, 15, 130, 12
    LTEXT           "A Zinwell/Olevia firmware viewer.", IDC_STATIC, 50, 30, 130, 12
	LTEXT           "Copyright 2009", IDC_STATIC, 50, 42, 100, 12
	LTEXT           "BSD Licence", IDC_STATIC, 50, 54, 100, 12
    ICON            IDI_FIRST, IDC_STATIC, 14, 15, 21, 20
END

IDD_BLOCKEXPORT  DIALOG 50, 20, 277, 187
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION|WS_SYSMENU|DS_MODALFRAME
CAPTION "Export block to file"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
   LTEXT "Block to export:", IDC_STATIC, 7, 9, 70, 12
   COMBOBOX IDC_BLOCKLIST, 100, 7, 50, 80, CBS_DROPDOWNLIST |WS_TABSTOP
   CHECKBOX "Include block &header", IDC_BLOCKEXPORTINCLUDEHEADER, 7, 46, 90, 12, BS_AUTOCHECKBOX|WS_TABSTOP
   GROUPBOX "Block information", 0, 7, 70, 263, 110
   LTEXT "Block type:", IDC_STATIC,  14, 88, 50, 12
   LTEXT "Data size:", IDC_STATIC,  14, 100, 50, 12
   LTEXT "Block offset:", IDC_STATIC, 14, 112, 50, 12
   LTEXT "BTYPE", IDC_BLOCKEXPORTTYPE, 86, 88, 40, 12
   LTEXT "bytes", IDC_BLOCKEXPORTSIZE, 86, 100, 100, 12
   LTEXT "bytes", IDC_BLOCKEXPORTOFFSET, 86, 112, 100, 12
   LTEXT "Additional info", IDC_BLOCKEXPORTDETAIL, 14, 124, 240, 46
   DEFPUSHBUTTON "Export...", IDOK, 220, 7, 50, 14
   PUSHBUTTON "Cancel", IDCANCEL, 220, 25, 50, 14
END

IDD_BLOCKIMPORT  DIALOG 50, 20, 300, 204
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION|WS_SYSMENU|DS_MODALFRAME
CAPTION "Import block from file"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
   EDITTEXT "", IDC_BLOCKIMPORTFILENAME, 18, 20, 208, 14
   PUSHBUTTON "&Browse...", IDBROWSE, 230, 20, 50, 14
   GROUPBOX "Import settings", IDC_STATIC, 18, 44, 264, 132
   LTEXT "Choose file to import:", IDC_STATIC, 18, 8, 189, 12
   RADIOBUTTON "&ROOT", IDC_BLOCKIMPORTROOT, 36, 70, 60, 14, WS_TABSTOP|WS_GROUP
   RADIOBUTTON "&CODE", IDC_BLOCKIMPORTCODE, 36, 82, 60, 14
   RADIOBUTTON "&KERN", IDC_BLOCKIMPORTKERN, 36, 94, 60, 14
   RADIOBUTTON "BO&XI", IDC_BLOCKIMPORTBOXI, 36, 106, 60, 14
   RADIOBUTTON "&VERI", IDC_BLOCKIMPORTVERI, 36, 118, 60, 14
   RADIOBUTTON "&LOAD", IDC_BLOCKIMPORTLOAD, 36, 130, 60, 14
   RADIOBUTTON "&NVRM", IDC_BLOCKIMPORTNVRM, 36, 142, 60, 14
   RADIOBUTTON "&MACA", IDC_BLOCKIMPORTMACA, 36, 154, 60, 14

   LTEXT "Type of block:", IDC_STATIC, 34, 59, 51, 12
   CHECKBOX "File includes &header", IDC_BLOCKIMPORTINCLUDEHEADER, 181, 60, 91, 14, BS_AUTOCHECKBOX|WS_TABSTOP
   PUSHBUTTON "Auto&detect", IDC_BLOCKIMPORTAUTODETECT, 210, 152, 60, 14

   DEFPUSHBUTTON "OK", IDOK, 176, 182, 50, 14
   PUSHBUTTON "Cancel", IDCANCEL, 233, 182, 50, 14
END



IDD_BOXIBLOCK DIALOG 50, 20, 240, 191
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION|WS_SYSMENU|DS_MODALFRAME
CAPTION "Create new BOXI block"
LANGUAGE LANG_ENGLISH, 0x0
FONT 8, "MS Sans Serif"
{
   LTEXT "Enter details for the BOXI block:", IDC_STATIC, 7, 7, 125, 15
   LTEXT "ui&OUI:", IDC_STATIC, 7, 22, 27, 12
   EDITTEXT "0x59E", IDC_BOXIOUI, 7, 32, 60, 14

   LTEXT "uiStarterImageSize:", IDC_STATIC, 120, 22, 75, 12
   EDITTEXT "239844", IDC_BOXISTARTERIMAGESIZE,  120, 32, 60, 14

   LTEXT "HwVersion:", IDC_STATIC, 7, 68, 38, 16
   LTEXT "SwVersion:", IDC_STATIC, 64, 68, 38, 16
   LTEXT "HwModel:", IDC_STATIC, 120, 68, 38, 16
   LTEXT "SwModel:", IDC_STATIC, 184, 68, 38, 16
   EDITTEXT "1", IDC_BOXIHWV, 7, 80, 40, 14
   EDITTEXT "256", IDC_BOXISWV, 64, 80, 40, 14
   EDITTEXT "2", IDC_BOXIHWM, 120, 80, 40, 14
   EDITTEXT "1", IDC_BOXISWM, 184, 80, 40, 14

   LTEXT "Starter &MD5 digest:", IDC_STATIC, 7, 110, 128, 12
   EDITTEXT "6787f635c11bd0c072d761fd89bf3ef1", IDC_BOXISTARTERMD5,  7, 122, 150, 14

   PUSHBUTTON "Load &defaults", IDC_STATIC,  7, 170, 60, 14
   DEFPUSHBUTTON "Create", IDOK, 129, 170, 50, 14
   PUSHBUTTON "Cancel", IDCANCEL, 183, 170, 50, 14
}


IDD_VERIBLOCK DIALOG 50, 20, 249, 190
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Create new VERI block"
LANGUAGE LANG_ENGLISH, 0x0
FONT 8, "MS Sans Serif"
{
   LTEXT "Enter details for the VERI block.", IDC_STATIC,  7, 7, 125, 12
   LTEXT "&Block(s) to add:", IDC_STATIC,  7, 22, 70, 12
   LISTBOX "", IDC_BLOCKLIST, 7, 32, 60, 65, LBS_EXTENDEDSEL
   LTEXT "&Version:", IDC_STATIC,  110, 22, 32, 12
   EDITTEXT "a", IDC_VERIVERA,  110, 32, 30, 14
   EDITTEXT "b", IDC_VERIVERB,  144, 32, 30, 14
   EDITTEXT "c", IDC_VERIVERC,  178, 32, 30, 14
   EDITTEXT "d", IDC_VERIVERD,  212, 32, 30, 14

   PUSHBUTTON "&Add", IDC_BLOCKADD,  151, 62, 50, 14
   PUSHBUTTON "&Remove", IDC_BLOCKREMOVE,  151, 80, 50, 14

   LTEXT "Included blocks:", IDC_STATIC, 7, 100, 128, 12
   CONTROL "", IDC_VERIBLOCKSTOADD, "SysListView32", LVS_REPORT | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE |WS_BORDER|WS_TABSTOP, 7, 110, 235, 50

   DEFPUSHBUTTON "Create", IDOK,  138, 169, 50, 14
   PUSHBUTTON "Cancel", IDCANCEL,  192, 169, 50, 14
}

IDD_CHANGECUSTOMERNUMBER DIALOG 50,20,161,71
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Change customer number"
LANGUAGE LANG_ENGLISH, 0x0
FONT 8, "MS Sans Serif"
{
   LTEXT "Customer number:", IDC_STATIC, 7, 7, 125, 12
   EDITTEXT "", IDC_CUSTOMERNUMBER,  7, 17, 40, 14
   PUSHBUTTON "OK", IDOK,  50, 50, 50, 14
   PUSHBUTTON "Cancel", IDCANCEL, 104, 50, 50, 14
}

IDD_PROPERTIES DIALOG 50,20,241,250
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "BLOCK Properties"
LANGUAGE LANG_ENGLISH, 0x0
FONT 8, "MS Sans Serif"
{
   DEFPUSHBUTTON "OK", IDOK,  76,229,50,14
   PUSHBUTTON "Cancel", IDCANCEL, 130, 229, 50, 14
   PUSHBUTTON "Apply", IDAPPLY, 184,229,50,14

   CONTROL         "PropertiesTab",IDC_PROPERTIESTAB,"SysTabControl32",1,7,7,227,215
}

IDD_PROPERTIES_MAIN DIALOG 14,28,213,180
STYLE WS_CHILD|WS_VISIBLE
FONT 8, "MS Sans Serif"
{
	LTEXT "View general details about the block.", IDC_STATIC, 0, 0, 213, 10
	LTEXT "Block type:", IDC_STATIC, 0,15,50,12
	EDITTEXT "BLOK",IDC_PROPERTIESTYPE,50,15,163,12,ES_READONLY|NOT WS_BORDER
	LTEXT "Data size:", IDC_STATIC, 0,30,50,12
	EDITTEXT "0 bytes", IDC_PROPERTIESSIZE,50,30,163,12,ES_READONLY|NOT WS_BORDER
	LTEXT "Block offset:", IDC_STATIC, 0,45,50,12
	EDITTEXT "0x0000", IDC_PROPERTIESOFFSET, 50,45,163,12,ES_READONLY|NOT WS_BORDER

	LTEXT "", IDC_STATIC, 0,60, 213, 1, SS_SUNKEN

	LTEXT "Adler-32:", IDC_STATIC, 0,68,50,12
	EDITTEXT "ADLER-32",IDC_PROPERTIESADLER,50,68,163,12,ES_READONLY|NOT WS_BORDER
	LTEXT "MD5 hash:", IDC_STATIC, 0,83,50,12
	EDITTEXT "md5",IDC_PROPERTIESMD5, 50,83,163,12,ES_READONLY|NOT WS_BORDER


	LTEXT "Source:", IDC_STATIC, 0,98,50,12
	EDITTEXT "e:\\filename.zim", IDC_PROPERTIESSOURCE,50,98,163,12,ES_READONLY|ES_AUTOHSCROLL|NOT WS_BORDER
	LTEXT "Source offset:", IDC_PROPERTIESSOURCEOFFSETLABEL, 0,113,50,12
	EDITTEXT "0 bytes", IDC_PROPERTIESSOURCEOFFSET,50,113,163,12,ES_READONLY|NOT WS_BORDER
}

IDD_PROPERTIES_USUAL DIALOG 14,28,213,180
STYLE WS_CHILD|WS_VISIBLE
FONT 8, "MS Sans Serif"
{
   LTEXT "View details specific to this block.", IDC_STATIC, 0,0,213,12
   LTEXT "Magic number:", IDC_STATIC, 0,15,50,12
   EDITTEXT "MAGC (0x12345678)", IDC_PROPERTIESMAGICNUMBER, 50,15,163,12,ES_READONLY|NOT WS_BORDER|ES_MULTILINE
   LTEXT "Data size:", IDC_STATIC, 0,30,50,12
   EDITTEXT "0 bytes", IDC_PROPERTIESSIZE, 50,30,163,12,ES_READONLY|NOT WS_BORDER|ES_MULTILINE

   GROUPBOX "Block information", IDC_PROPERTIESLONGINFOGROUPBOX, 0, 45, 213, 101
   EDITTEXT "Info", IDC_PROPERTIESLONGINFO, 7,57,199,87,ES_READONLY|NOT WS_BORDER|ES_MULTILINE
}

IDD_PROPERTIES_BOXI DIALOG 14,28,213,180
STYLE WS_CHILD|WS_VISIBLE
FONT 8, "MS Sans Serif"
{
   LTEXT "Enter details for the BOXI block.", IDC_STATIC, 0, 0, 213, 10
   LTEXT "ui&OUI:", IDC_STATIC, 0, 15, 27, 10
   EDITTEXT "0x59E", IDC_BOXIOUI, 0, 25, 55, 14

   LTEXT "uiStarterImageSi&ze:", IDC_STATIC, 110, 15, 75, 10
   EDITTEXT "239844", IDC_BOXISTARTERIMAGESIZE,  110, 25, 55, 14

   LTEXT "HwVersion:", IDC_STATIC, 0, 54, 48, 10
   LTEXT "SwVersion:", IDC_STATIC, 55, 54, 48, 10
   LTEXT "HwModel:", IDC_STATIC, 110, 54, 48, 10
   LTEXT "SwModel:", IDC_STATIC, 165, 54, 48, 10
   EDITTEXT "1", IDC_BOXIHWV, 0, 64, 48, 14
   EDITTEXT "2", IDC_BOXISWV, 55, 64, 48, 14
   EDITTEXT "3", IDC_BOXIHWM, 110, 64, 48, 14
   EDITTEXT "4", IDC_BOXISWM, 165, 64, 48, 14

   LTEXT "Starter &MD5 digest:", IDC_STATIC, 0, 93, 158, 10
   EDITTEXT "md5", IDC_BOXISTARTERMD5,  0, 103, 158, 14

}

IDD_PROPERTIES_VERI DIALOG 14,28,213,180
STYLE WS_CHILD|WS_VISIBLE
FONT 8, "MS Sans Serif"
{
   LTEXT "Edit VERI block information.", IDC_STATIC, 0, 0, 213, 12
   LTEXT "Included &blocks:", IDC_STATIC, 0, 15, 213, 12
   CONTROL "", IDC_BLOCKLIST, "SysListView32", LVS_REPORT | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | LVS_EDITLABELS |WS_BORDER , 0, 25, 213, 140
}

IDD_PROPERTIES_ZIMFILE DIALOG 14,28,213,180
STYLE WS_CHILD|WS_VISIBLE
FONT 8, "MS Sans Serif"
{
    ICON            IDI_FIRST, IDC_STATIC, 0, 0, 20, 20
	EDITTEXT "",IDC_PROPERTIESFILENAME,60,5,153,14,ES_READONLY|NOT WS_BORDER|ES_AUTOHSCROLL
	LTEXT "", IDC_STATIC, 0,27, 213, 1, SS_SUNKEN

	LTEXT "Location:", IDC_STATIC, 0,35,60,12
	EDITTEXT "",IDC_PROPERTIESDIRECTORY,60,35,153,12,ES_READONLY|NOT WS_BORDER|ES_AUTOHSCROLL

	LTEXT "File &length:", IDC_STATIC, 0,50,100,12
	EDITTEXT "",IDC_PROPERTIESSIZE,60,50,153,12,ES_READONLY|NOT WS_BORDER
	LTEXT "File &length:", IDC_STATIC, 0,65,100,12
	EDITTEXT "",IDC_PROPERTIESSIZE,60,65,153,12,ES_READONLY|NOT WS_BORDER

	LTEXT "", IDC_STATIC, 0,80, 213, 1, SS_SUNKEN

	LTEXT "Customer &number:", IDC_STATIC, 0,91,100,12
	EDITTEXT "",IDC_CUSTOMERNUMBER,60,88,60,14
	LTEXT "Number of &blocks:", IDC_STATIC, 0,106,100,12
	EDITTEXT "",IDC_PROPERTIESNUMBEROFBLOCKS,60,106,153,12,ES_READONLY|NOT WS_BORDER
	LTEXT "&Checksum:", IDC_STATIC, 0,121,100,12
	EDITTEXT "",IDC_PROPERTIESADLER,60,121,153,12,ES_READONLY|NOT WS_BORDER

}

IDD_PROPERTIES_MULTIPLE DIALOG 14,28,213,180
STYLE WS_CHILD|WS_VISIBLE
FONT 8, "MS Sans Serif"
{
   LTEXT "View details about the selected blocks.", IDC_STATIC, 0,0,213,12
   LTEXT "Blocks selected:" IDC_STATIC, 0,15,213,12
}


STRINGTABLE
BEGIN
    IDM_ABOUT, "Displays information about this application"
    IDM_EXIT, "Quits this application"
    IDM_CLOSE, "Closes the active document"
    IDM_SAVEAS, "Saves the active document under a different name"
    IDM_SAVE, "Saves the active document"
    IDM_OPEN, "Opens an existing document"
    IDM_NEW, "Creates a new document"
	IDM_REVERT, "Reverts all changes to the last saved file"
	IDM_PROPERTIES, "Displays information about the block or file"


	IDM_BLOCKFIXCHECKSUMS, "Automatically adjusts stated file size and offsets"
	IDM_BLOCKIMPORT, "Imports a block from a file"
	IDM_BLOCKEXPORT, "Exports a block to a file"
	IDM_BLOCKCREATEVERIBLOCK, "Creates a new VERI block"
	IDM_BLOCKCREATEBOXIBLOCK, "Creates a new BOXI block"
	IDM_CUSTOMERNUMBER, "Changes the customer number for the zim file"

	IDM_EDITCUT, "Copies the block to the clipboard and remove it from the list of blocks"
	IDM_EDITCOPY, "Copies the block to the clipboard"
	IDM_EDITPASTE, "Inserts a block from the clipboard"
	IDM_EDITCLEAR, "Marks the block so it will not be saved or included in calculations"
	IDM_EDITDELETE, "Removes the block from the list"
	IDM_MOVEUP, "Moves the block up in the order of blocks"
	IDM_MOVEDOWN, "Moves the block down in the order of blocks"
	IDM_SELECTALL, "Selects all the blocks in the file"

	IDM_TOOLSBATCHCUSTOMERNUMBER, "Adjusts the customer number of multiple .zim files automatically"
	IDM_TOOLSCREATESFS, "Creates a SquashFS (.sfs) file from files on your computer"
END

1 VERSIONINFO
	FILEVERSION 0,0,0,3
	PRODUCTVERSION 0,0,0,3
	FILEOS 0x4
	FILETYPE 0x1
	FILEFLAGS 0x2
	FILESUBTYPE 0x0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
       	BLOCK "040904E4"
       	BEGIN
       	    VALUE "CompanyName", "tristanb\0"
       	    VALUE "FileDescription", "ZimView\0"
       	    VALUE "FileVersion", "0.03 alpha\0"
       	    VALUE "InternalName", "ZimView\0"
       	    VALUE "LegalCopyright", "Copyright © 2009\0"
       	    VALUE "OriginalFilename", "zimview.exe\0"
       	    VALUE "ProductName", "ZimView\0"
       	    VALUE "ProductVersion", "0.03 beta\0"
       	END

	END
END
